*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #fbfbfb;
}

header {
    background: #7479bd;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    flex-wrap: wrap;
}

header .hamburger-icon {
    padding-right: 1em;
}

header .logo {
    color: #fff;
    font-weight: 100;
    position: relative;
    font-size: 1.4em;
}

header .logo::after {
    content: "\2122";
    color: #fff;
    font-weight: 100;
    font-size: 8px;
    top: 3px;
    position: absolute;
}

header .left {
    display: flex;
    align-items: center;
}

header .profile {
    display: flex;
}

header .avatar-container {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
}

header .avatar {
    width: 32px;
    border-radius: 50%;
}

header .right {
    display: flex;
    align-items: center;
}

header .notification-icon {
    height: 2.4em;
    position: relative;
    border-right: 1px solid #6369bc;
    padding-right: 1.2em;
    margin-right: 0.8em;
    display: flex;
}

header .notification-icon svg {
    width: 24px;
}

header .notification-icon::after {
    position: absolute;
    background: #88d985;
    border-radius: 50%;
    content: "";
    width: 0.4em;
    height: 0.4em;
    top: 0.4em;
    right: 1em;
}

header .name {
    display: none;
    align-items: center;
    text-transform: capitalize;
    margin-left: 1em;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

aside {
    background: #4e4d71;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

aside.open {
    width: 12em;
}

aside.open nav {
    opacity: 1;
}

nav {
    opacity: 0;
    transition: 0.5s ease;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav .wrapper {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

nav .wrapper span {
    margin-left: 10px;
    color: #fff;
    font-weight: 100;
}

aside.open .wrapper span {
    opacity: 1;
}

aside .wrapper span {
    opacity: 0;
    transition: 0.5s ease;
}

nav li {
    margin: 10px 0;
}

nav li.visits svg {
    margin-left: 4px;
}

nav li.visits span {
    margin-left: 8px;
}

nav a {
    display: block;
    position: relative;
}

nav a::before {
    position: absolute;
    background: #88d985;
    content: "";
    width: 0.2em;
    height: 100%;
    left: 0;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    display: none;
}

nav svg {
    width: 25px;
    margin: 10px 0;
}

nav svg .st0 {
    fill: #a1a1b4;
}

.main-content {
    flex-grow: 1;
    min-height: 1200px;
}

body.dashboard li.dashboard a::before {
    display: block;
}

body.dashboard li.dashboard svg .st0 {
    fill: #FFFFFF;
}

.main-content .top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.main-content .tab {
    background: #fff;
    height: calc(100% + 1px);
    line-height: 60px;
    border-right: 1px solid #e5e5e5;
    float: left;
    color: #797878;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 0 20px;
    transition: 0.5s;
}

.main-content .search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    width: 36%;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
}

.search.open {
    width: 100%;
    padding-left: 20px;
}

.tab.close {
    opacity: 0;
}

.search input {
    height: 60%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
}

.search .fa-search {
    position: absolute;
    right: 30px;
    color: #9397d1;
    font-size: 18px;
}

.search input::-moz-placeholder {
    color: #c7c7c7;
}

.search input::-webkit-input-placeholder {
    color: #c7c7c7;
}

.search input:-ms-input-placeholder {
    color: #c7c7c7;
}

.search input:-moz-placeholder {
    color: #c7c7c7;
}

.main-content .containter {
    background: #fff;
    overflow: auto;
}

.main-content .container .wrapper {
    overflow: hidden;
    margin-bottom: 20px;
    transition: max-height 0.5s;
    max-height: 100px;
}

.main-content .container .wrapper.close {
    max-height: 0;
}

.main-content .alert-box {
    background: #7379bd;
    margin: 20px 20px 0 20px;
    font-size: 12px;
    text-align: left;
    padding: 10px 0 10px 10px;
    color: #d3d5e9;
    border-radius: 5px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.main-content .alert-box .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 28px;
    color: #fff;
}

.main-content .alert-box strong {
    padding-right: 3px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    header .name {
        display: flex;
    }
    .hamburger-icon {
        display: none;
    }
    aside,
    aside.open {
        width: 70px;
    }
    nav {
        opacity: 1;
    }
    nav .wrapper {
        margin-left: 0;
        justify-content: center;
    }
    nav span {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
}


/* Clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}