*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #fbfbfb;
}

body.disable-scroll {
    overflow: hidden;
}

h3 {
    color: #797979;
    font-weight: 400;
    text-transform: uppercase;
    font-size: smaller;
    text-align: left;
    margin: 20px 0 16px;
}

header {
    background: #7479bd;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    flex-wrap: wrap;
}

header .hamburger-icon {
    padding-right: 1em;
}

header .logo {
    color: #fff;
    font-weight: 100;
    position: relative;
    font-size: 1.4em;
}

header .logo::after {
    content: "\2122";
    color: #fff;
    font-weight: 100;
    font-size: 8px;
    top: 3px;
    position: absolute;
}

header .left {
    display: flex;
    align-items: center;
}

header .profile {
    display: flex;
}

header .avatar-container {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
}

.avatar {
    width: 32px;
    border-radius: 50%;
    height: 32px;
}

header .right {
    display: flex;
    align-items: center;
}

header .notification-icon {
    height: 2.4em;
    position: relative;
    border-right: 1px solid #6369bc;
    padding-right: 1.2em;
    margin-right: 0.8em;
    display: flex;
}

header .notification-icon svg {
    width: 24px;
}

.notification-icon.hide::after {
    display: none;
}

header .notification-icon::after {
    position: absolute;
    background: #88d985;
    border-radius: 50%;
    content: "";
    width: 0.4em;
    height: 0.4em;
    top: 0.4em;
    right: 1em;
}

header .name {
    display: none;
    align-items: center;
    text-transform: capitalize;
    margin-left: 1em;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
}

body>.container {
    width: 100%;
    position: relative;
}

aside {
    background: #4e4d71;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1500;
}

aside.open {
    width: 12em;
}

aside.open nav {
    opacity: 1;
}

nav {
    opacity: 0;
    transition: 0.5s ease;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav .wrapper {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

nav .wrapper span {
    margin-left: 10px;
    color: #fff;
    font-weight: 100;
}

aside.open .wrapper span {
    opacity: 1;
}

aside .wrapper span {
    opacity: 0;
    transition: 0.5s ease;
}

nav li {
    margin: 10px 0;
}

nav li.visits svg {
    margin-left: 4px;
}

nav li.visits span {
    margin-left: 8px;
}

nav a {
    display: block;
    position: relative;
}

nav a::before {
    position: absolute;
    background: #88d985;
    content: "";
    width: 0.2em;
    height: 100%;
    left: 0;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    display: none;
}

nav svg {
    width: 25px;
    margin: 10px 0;
}

nav svg .st0 {
    fill: #a1a1b4;
}

input,
textarea {
    color: #797979;
}

.main-content {
    flex-grow: 1;
    min-height: 1200px;
}

body.dashboard li.dashboard a::before {
    display: block;
}

body.dashboard li.dashboard svg .st0 {
    fill: #FFFFFF;
}

.main-content .top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.main-content .tab {
    background: #fff;
    height: calc(100% + 1px);
    line-height: 60px;
    border-right: 1px solid #e5e5e5;
    float: left;
    color: #797878;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    padding: 0 20px;
    transition: 0.5s;
}

.main-content .search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    width: 39%;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 0;
}

.search.open {
    width: 100%;
    padding-left: 20px;
}

.tab.close {
    opacity: 0;
}

input,
textarea {
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none !important;
    border: 1px solid #9397d1;
}

.search input {
    height: 60%;
}

.search .fa-search {
    position: absolute;
    right: 30px;
    color: #9397d1;
    font-size: 18px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 300;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 300;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 300;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 300;
}

.main-content>.container {
    background: #fff;
    overflow: auto;
}

.main-content .alert-box {
    background: #7379bd;
    margin: 20px 20px 0 20px;
    font-size: 12px;
    text-align: left;
    padding: 10px 0 10px 10px;
    color: #d3d5e9;
    border-radius: 5px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.main-content .alert-box .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 38px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.close-button .fa-times {
    font-size: 16px;
}

.main-content .alert-box strong {
    padding-right: 3px;
    color: #fff;
}

.main-content .row {
    padding: 0 20px 20px;
    float: left;
    width: 100%;
}

.traffic .heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.traffic .scales {
    display: flex;
    list-style: none;
    color: #797979;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.scales li {
    font-size: small;
    font-weight: 500;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 10px;
    transition: 0.5s;
}

.scales li.active {
    background: #83c891;
    color: #fff;
}

.main-content .row.column-2 {
    padding: 0;
}

.column {
    padding: 0 20px 20px;
    border-bottom: 1px solid #e5e5e5;
}

.social-stats,
.traffic {
    border-bottom: 1px solid #e5e5e5;
}

.social-stats .container {
    margin: 0 -20px;
}

.social-box {
    display: flex;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 0 20px 20px;
    justify-content: flex-start;
    background: #fbfbfb;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.social-box .icon {
    width: 64px;
    height: 64px;
    background: #7379bd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon svg {
    fill: #fff;
}

.icon.twitter svg {
    width: 32px;
    height: 32px;
}

.icon.facebook svg {
    width: 40px;
    height: 40px;
}

.icon.google svg {
    width: 30px;
    height: 30px;
}

.social-box .text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text .social-title {
    color: #777cbe;
    font-weight: 500;
}

.text .stats {
    color: #717171;
    font-size: 36px;
    font-weight: 300;
}

.list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.list a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none;
}

.list li:first-child a {
    padding-top: 0;
}

.list li:last-child a {
    border-bottom: none;
    padding-bottom: 0;
}

.list .avatar {
    margin-right: 10px;
    min-width: 32px;
}

.list .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin: 10px 0;
    overflow: hidden;
}

.list .mainText {
    font-size: 13px;
    color: #797979;
    white-space: nowrap;
}

.list .subText {
    font-size: 11px;
    color: #8d91c8;
    max-height: 13px;
}

.list .sideText {
    font-size: 12px;
    color: #797979;
    margin-left: 10px;
}

.list .sideText svg {
    fill: #8d91c8;
}

.message-box input,
.message-box textarea {
    padding: 10px 20px;
    background: #fbfbfb;
    margin-bottom: 15px;
    vertical-align: top;
}

button {
    width: 100%;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 14px;
    border: 1px solid transparent;
}

button.blue {
    background: #7379bd;
}

label.switch-light.switch-ios {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    flex-wrap: wrap;
}

label.switch-light.switch-ios strong {
    width: 40%;
    text-align: left;
    font-size: 13px;
    color: #797979;
    min-width: 160px;
    margin: 8px 0;
}

label.switch-light.switch-ios>span {
    width: 20%;
    min-width: 75px;
}

.switch-ios.switch-light input:checked~span {
    border-color: #7379bd;
    box-shadow: inset 0 0 0 30px #7379bd;
}

.switch-ios.switch-light input:checked~span a {
    border-color: #7379bd;
}

.switch-ios.switch-light>span span {
    line-height: 2em;
}

svg.rotate {
    transform: rotate(90deg);
}

select {
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    background-color: #fbfbfb;
    margin-bottom: 15px;
    color: #b2b2b2;
    font-size: 13px;
    font-weight: 300;
    -webkit-appearance: initial
}

.button-group {
    display: flex;
}

button.left {
    margin-right: 10px;
}

button.right {
    margin-left: 10px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper svg {
    position: absolute;
    right: 15px;
    height: 37px;
    line-height: 37px;
    transform: rotate(89deg);
    pointer-events: none;
}

.dropdown {
    top: 70px;
    color: #797979;
    padding: 10px 20px 20px;
    max-width: 250px;
    position: absolute;
    right: 0;
    z-index: 2000;
    background: #fff;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    text-align: left;
    font-size: 12px;
}

.dropdown.hide {
    display: none;
}

.dropdown:before {
    position: absolute;
    content: "";
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 3px 0 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.08);
    top: -6px;
    right: 88px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul.hide {
    display: none;
}

a.notification-anchor {
    display: block;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

p.notification-message {
    margin: 0;
}

.no-notification-message {
    display: none;
    margin-bottom: 0;
}

.no-notification-message.show {
    display: block;
}

.chart-container {
    position: relative;
    height: 200px;
}

.chart-wrapper.active {
    opacity: 1;
    z-index: 1000;
}

.chart-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: 0.2s;
    opacity: 0;
}

.search-user-box {
    position: relative;
}

.autocomplete {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-top: -12px;
    box-shadow: 0px 0px 10px #888888;
    padding: 10px 20px;
    display: none;
}

.autocomplete.show {
    display: block;
}

@media screen and (min-width: 320px) {
    .dropdown {
        width: 250px;
    }
}

@media screen and (min-width: 375px) {
    .traffic .scales {
        justify-content: flex-end;
        margin-right: -5px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    body.disable-scroll {
        overflow: auto;
    }
    header .name {
        display: flex;
    }
    .hamburger-icon {
        display: none;
    }
    aside,
    aside.open {
        width: 70px;
    }
    nav {
        opacity: 1;
    }
    nav .wrapper {
        margin-left: 0;
        justify-content: center;
    }
    nav span {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content .row {
        border-bottom: 1px solid #e5e5e5;
    }
    .row.column-2 {
        float: left;
        width: 100%;
    }
    .column {
        width: 50%;
        float: left;
        border-bottom: none;
    }
    .column.border-right {
        border-right: 1px solid #e5e5e5;
    }
    .social-box {
        width: calc(33.33% - 40px);
        float: left;
    }
    .notification {
        position: relative;
    }
    .dropdown {
        border-radius: 5px;
        color: #797979;
        right: 20px;
        top: 120%;
        border: 1px solid #e5e5e5;
        bottom: auto;
    }
    .dropdown:before {
        right: 20px;
    }
    .autocomplete {
        right: auto;
        left: calc(100% + 2px);
        bottom: 15px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .social-box {
        flex-direction: row;
        justify-content: flex-start;
    }
    .social-box .text {
        margin-left: 20px;
        margin-top: 0;
        align-items: flex-start;
    }
}


/* Clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}